################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DiceSimulation/.vs/DiceSimulation
/DiceSimulation/DiceSimulation.ClassLib/obj
/DiceSimulation/DiceSimulation.ConApp/obj
/DiceSimulation/.vs/ProjectEvaluation
/DiceSimulation/DiceSimulation.ClassLib/bin/Debug/net8.0
/DiceSimulation/DiceSimulation.ConApp/bin/Debug/net8.0
