################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DiceSimulation/.vs/DiceSimulation
/DiceSimulation/DiceSimulation.ClassLib/obj
/DiceSimulation/DiceSimulation.ConApp/obj
